<script>
	function initialize() {
	  var mapOptions = {
	    zoom: 8,
	    center: new google.maps.LatLng(-34.397, 150.644),
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  }
	  var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
	}
	
	function loadScript() {
	  var script = document.createElement("script");
	  script.type = "text/javascript";
	  script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyDMm1ZZgwURHz_yb_ZbYv2nHwVWJCad3nY&sensor=FALSE&callback=initialize";
	  document.body.appendChild(script);
	}
	
	window.onload = loadScript;

</script>

<div>

    <h2 translate="denuncialegalApp.denuncia.home.title">Denuncia</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveDenunciaModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="denuncialegalApp.denuncia.home.createLabel">Create a new Denuncia</span>
    </button>
    <div class="modal fade" id="saveDenunciaModal" tabindex="-1" role="dialog" aria-labelledby="myDenunciaLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myDenunciaLabel" translate="denuncialegalApp.denuncia.home.createOrEditLabel">Create or edit a Denuncia</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="denuncia.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="denuncialegalApp.denuncia.titulo">Titulo</label>
                            <input type="text" class="form-control"
                                   ng-model="denuncia.titulo">
                        </div>
                        <div class="form-group">
                            <label translate="denuncialegalApp.denuncia.descricao">Descricao</label>
                            <input type="text" class="form-control"
                                   ng-model="denuncia.descricao">
                        </div>

                        <div class="form-group">
                            <label translate="denuncialegalApp.denuncia.jurisdicionado">jurisdicionado</label>
                            <select class="form-control" ng-model="denuncia.jurisdicionado.id" ng-options="jurisdicionado.id as jurisdicionado.nome for jurisdicionado in jurisdicionados">
                            </select>
                        </div>
                        
                         <div id="map_canvas" style="width:100%; height:100%"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteDenunciaConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(denuncia.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="denuncialegalApp.denuncia.delete.question" translate-values="{id: '{{denuncia.id}}'}">Are you sure you want to delete Denuncia {{denuncia.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="denuncialegalApp.denuncia.titulo">Titulo</th>
                    <th translate="denuncialegalApp.denuncia.descricao">Descricao</th>
                    <th translate="denuncialegalApp.denuncia.jurisdicionado">jurisdicionado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="denuncia in denuncias">
                    <td><a ui-sref="denunciaDetail({id:denuncia.id})">{{denuncia.id}}</a></td>
                    <td>{{denuncia.titulo}}</td>
                    <td>{{denuncia.descricao}}</td>
                    <td>{{denuncia.jurisdicionado.nome}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="denunciaDetail({id:denuncia.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(denuncia.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(denuncia.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
